body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgb(212, 226, 241);
}

#tableex-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

table#tableex {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    background-color: white;
}

table#tableex th {
    text-align: center;
    padding: 8px;
    white-space: nowrap;
}

table#tableex td {
    font-size: 12px;
    padding: 8px;
    white-space: nowrap;
}

table#tableex th {
    color: #ffffff;
    background: #324960;
}

table#tableex tr:nth-child(even) {
    background: #f8f8f8;
}

table#tableex td.highlight {
    background: #b7ffe7;
}

table[tableex-box-selectable] td {
    user-select: none;
}
