<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tableex.css') }}" />
    <title>TabLeex</title>
</head>

<body>
    <div id="tableex-wrapper">
        <table id="tableex" tableex-box-selectable tableex-column-resortable>
            <thead>
                <tr>
                    {% for header in table_data.header %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_data.body %}
                <tr>
                    {% for data in row %}
                    <td>{{ data }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/tableex.js') }}"></script>
</body>

</html>